@import "../index.css";

p {
    min-height: 60vh;
    line-height: 2.0em;
    font-size: 1.2em;
}

.picture-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
}

.picture {
    height: auto;
    width: 40%;
}

.about-description {
    margin-left: 10%;
    margin-right: 10%;
}
@media only screen and (min-width: 300px) and (max-width: 800px){
    .picture {
        width: 100%;
        height:auto;

    }
}
