.black {
    background-color: black;
    width: 100%;
    margin-top: 20vh;
    height: 50vh;
}

.speech4children {
    color: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    padding-top: 3vh;
    width: 70%;
}

.contact-us {
    position:relative;
    top:-15vh !important;
    color: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height:1.75em;
    margin-left: 80%;

}

.bottom-item {
    color: white;
    font-family: 'Josefin Sans';
    font-weight: 'bold';
    font-size:  15px;
    text-align:center;
    padding-right: 5vw;
    padding-top: 0px !important;
}

.bottom-item:hover {
    color: purple;
}

@media only screen and (min-width: 700px) and (max-width: 1205px){
    .black {
      height: 20vh;
      margin-top: 5vh;
      width: 100%;
    }
  }


@media only screen and (min-width: 300px) and (max-width: 699px){
    .contact-us {
        margin-top:15vh;
        margin-left: 10%;
        width: 70%;
    }
    .bottom-item {
        text-align: left;
        padding-right: 10vw;
        /* text-align:left; */
    }
  }