@import "../index.css";

.office-pictures {
    height: auto;
    width: 100vh !important;
    left: 27%;
}

.arrow-buttons {
    margin-left: 42%;
}

@media only screen and (min-width: 300px) and (max-width: 500px){
    .office-pictures {
        left: 0%
    }
}

