@import "../index.css";

.grey-background {
    background-color: rgb(230,230,230);
    padding-top: 2vw; 
    padding-right: 6vw;
    padding-left: 6vw;

}
.menu-container {
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid black;
    padding-top: 3vh;
}

.menu-item {
    width: 20%;
    color: black;
    font-family: 'Josefin Sans';
    font-weight: 'bold';
    font-size: 1.5em;
    text-align:center;
}

.menu-item:hover {
    font-weight: 'bolder';
    color: purple;
}

.title {
    font-family: 'Josefin Sans';
    font-size: 350%; 
    color: purple;
    margin-left: 32.5%;
  }

.title:hover {
    color: indigo;
}