@import "../index.css";

.service-title {
    padding-top: 20px;
}

table.center{
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 10vh;
}

td {
    /* border-right: 1px solid black; */
    width: 50vw;
}