.gray {
    width: 100%;
    background-color: lightgray;
    position:relative;
    top: 1500px;
    min-width: 100%;
}

.testimonial-quote {
    font-size: 25px;
    width: 70%;
    padding: 2.5vw;
    left: 200px;
    line-height: 40px;
    height: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    padding-left: 520px;
    padding-top: 175px;
}

.dot-buttons{
    background-color: white !important;
    padding: 1vw !important;
    margin: 0.5vw !important;
    z-index:100;
}

.dot-buttons:hover {
    background-color: purple !important;
}

.dot-buttons:focus {
    background-color: purple !important;
}

.active-button{
    background-color: purple !important;
    padding: 1vw !important;
    margin: 0.5vw !important;
    z-index:100;
}

h1 {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 2.0em; 
}

.services-home-title {
    position:relative;
    top: 1550px;
    left: 200px;
    padding-top: 2vh;
}

.services-home-text {
    top: 2050px;
    left: 200px;
    line-height: 25px;
    padding: 0px !important;
    width: 70%;
}

.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
}

.brain-picture {
    width: 12vw; 
    height: auto;
    margin-left: 3vw;
    margin-right: 3vw;
}

.service-caption-text {
    position: relative;
    top: 1100px;
}

figure figcaption {
    margin-left: 3vw;
    text-align: center;
    max-width: 10vw;
    text-transform: uppercase;
    font-size: 15px;
}

.know-more {
    position:relative;
    font-weight: 500;
    font-size: 30px;
    top: 1100px;
    text-align:center;
}