.gray {
    width: 100%;
    background-color: lightgray;
    position:relative;
    top: 250vh;
    height: 40vh;
}

.testimonial-quote {
    font-size: 25px;
    width: 70%;
    padding: 2.5vw;
    left: 200px;
    line-height: 40px;
    height: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    padding-left: 520px;
    padding-top: 30vh;
}

.dot-buttons{
    background-color: white !important;
    padding: 1vw !important;
    margin: 0.5vw !important;
    z-index:100;
}

.dot-buttons:hover {
    background-color: purple !important;
}

.dot-buttons:focus {
    background-color: purple !important;
}

.active-button{
    background-color: purple !important;
    padding: 1vw !important;
    margin: 0.5vw !important;
    z-index:100;
}

h1 {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 2.0em; 
}

.services-home-title {
    position:relative;
    top: 250vh;
    left: 10vw;
    padding-top: 2vh;
}

.services-home-text {
    top: 335vh;
    left: 10vw;
    line-height: 25px;
    padding: 0px !important;
    width: 70%;
}

.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
}

.brain-picture {
    width: 12vw; 
    height: auto;
    margin-left: 3vw;
    margin-right: 3vw;
}

.service-caption-text {
    position: relative;
    top: 160vh;
}

figure figcaption {
    margin-left: 3vw;
    text-align: center;
    max-width: 10vw;
    text-transform: uppercase;
    font-size: 15px;
}

.know-more {
    position:relative;
    font-weight: 500;
    font-size: 30px;
    top: 170vh;
    text-align:center;
}

@media only screen and (min-width:1024px) and (max-width: 1300px){
    .gray {
        top: 240vh;
        height: 40vh;
    }
    .services-home-title {
        top: 250vh !important;
    }
    .services-home-text {
        top: 340vh !important;
        width: 80% !important;
    }
    .button-container {
        position:absolute;
        top: 0vh;
    }
    .service-caption-text{
        top: 190vh !important;
    }
}

@media only screen and (min-width:769px) and (max-width: 1024){
    .gray {
        top: 210vh;
        height: 40vh;
    }
    .services-home-title {
        top: 210vh !important;
    }
    .services-home-text {
        top: 280vh !important;
        width: 80% !important;
    }
    .button-container {
        position:absolute;
        top: 0vh;
    }

}
@media only screen and (min-width:769px) and (max-width: 1000px){
    .gray {
        top: 140vh;
        height: 20vh;
    }
    .services-home-title {
        top: 140vh !important;
        left: -40vw !important;

    }
    
    .services-home-text {
        top: 182vh !important;
        width: 80% !important;
    }
    .button-container {
        position:absolute;
        top: -14vh;
    }
    .service-caption-text{
        top: 125vh !important;
    }

.know-more {
    top: 130vh !important;
}
    
}

@media only screen and (min-width:500px) and (max-width: 769px){
    .gray {
        top: 160vh;
        height: 30vh;
    }
    .button-container {
        position:absolute;
        top: -5vh;
    }
    .services-home-title {
        top: 160vh !important;
        left: -40vw !important;

    }
    .services-home-text {
        top: 213vh !important;
        width: 80% !important;
    }
    .service-caption-text{
        top: 160vh !important;
    }
}

@media only screen and (min-width:300px) and (max-width: 500px){
    .gray {
        top: 190vh;
        height: 30vh;
    }

    .testimonial-quote {
        font-size: 20px;
        width: 100%;
        padding: 1vh;
        left: 0;
        line-height: 25px;
    }

    .button-container {
        position:absolute;
        top: -10vh !important;
        padding-left: 5vw !important;
    }
    .dot-buttons{
        padding: 3vw !important;
        margin: 2vw !important;
    }
    .active-button{
    padding: 3vw !important;
    margin: 2vw !important;

    }
    .services-home-title {
        top: 160vh !important;

    }
    .services-home-text {
        top: 245vh !important;
        width: 80% !important;
    }
    .service-caption-text{
        top: 180vh !important;
    }
}

