.gray {
    width: 100%;
    background-color: lightgray;
    height: 40vh;
    margin-top: 20vh;
}

.testimonial-quote {
    font-size: 25px;
    padding: 3vw;
    padding-left: 15%;
    line-height: 40px;
    height: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    padding-left: 30%;
}

.dot-buttons{
    background-color: white !important;
    padding: 1vw !important;
    margin: 0.5vw !important;
    z-index:100;
}

.dot-buttons:hover {
    background-color: purple !important;
}

.dot-buttons:focus {
    background-color: purple !important;
}

.active-button{
    background-color: purple !important;
    padding: 1vw !important;
    margin: 0.5vw !important;
    z-index:100;
}

h1 {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 2.0em; 
}

.services-home-title {
    padding-top: 2vh;
    padding-left: 5vw;
}

.services-home-text {
    font-size: 1.2em;
    padding-left: 5vw;
    width: 70%;
}

.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
}

.brain-picture {
    width: 12vw; 
    height: auto;
    margin-left: 3vw;
    margin-right: 3vw;
}

figure figcaption {
    margin-left: 3vw;
    text-align: center;
    max-width: 10vw;
    text-transform: uppercase;
    font-size: 15px;
}

.know-more {
    font-weight: 500;
    font-size: 30px;
    text-align:center;
}

@media only screen and (min-width: 700px) and (max-width: 1205px){
    .gray {
      height: 20vh;
      margin-top: 5vh;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 699px){
    .gray {
      height: 40vh;
      margin-top: 5vh;
    }
    .testimonial-quote {
        font-size: 18px;
    }
    .dot-buttons{
        margin: 1vw !important;
        padding: 5vw
    }
    .active-button{
        margin: 1vw !important;
        padding: 5vw
    }
    .brain-picture {
        width: 40%;
    }
    figure figcaption {
        width: 20%;
    }
    .know-more {
        font-size: 25px;
    }
  }