@import "../index.css";

  .testimonial-person {
    margin-left: 25%;
    color: purple;
  }

  .testimonial-description {
      width: 50%;
      margin-left: 25%;
      font-size: 18px;
      line-height: 25px;
  }

  .testimonial-button-container{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    padding-top: 20px;
  }