@import "../index.css";

.post-container {
    text-align:center
}

.post-item {
    margin:20px; 
    width: 40%;
    min-height: 50vh;
    color: black;
    background-color:rgb(240,240,240);
    font-family: 'Josefin Sans';
    font-weight: 'bold';
    font-size: 1.5em;
    border: 5px solid black;
    line-height: 1.4em;
    text-align:center;
    display: inline-block;

}

.post-title{
    text-transform: uppercase !important;
    padding-top: 15vh;  
}

.buttons {
    padding-left: 29vw;
    padding-right:3vw;
}

.modal{
    max-width: 40vw;
}

.modal-description {
    font-size: 125% !important;
    line-height: 2.0em;
}

.testimonial-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.testimonial-item {
    padding-left: 5vw;
    max-width: 90%;
    min-height: 30vh;
}

.description {
    line-height: 1.7em;
}